apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-lab
  namespace: ngoncalves
  labels:
    app: lab
spec:
  selector:
    matchLabels:
      app: lab
  replicas: 1
  template:
    metadata:
      labels:
        app: lab
    spec:
      containers:
        - name: lab-container
          image: 
          ports:
          - containerPort: 80
          volumeMounts:
          - mountPath: /var/www/index.html
            name: lab-volumen
            subPath: index.html
      volumes:
      - configMap:
          items:
          - key: index.html
            path: index.html
          name: lab-configmap
        name: lab-volumen
